
/* Item */
.item-name {
    margin: 0rem 0.2rem 0rem 0.2rem;
    background: rgb(161, 222, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    animation: opa 0.3s linear 0s 1 normal forwards;
    border-radius: 0.3rem;
    padding: 0 0.4rem;
    margin: 0.2rem;
    cursor: pointer;
    transition-duration: 2s;
}
.item-out {
    animation: out 0.3s ease-out 0s 1 normal forwards;
}
@keyframes opa {
    0% {transform: translateX(4vw);opacity: 0;}
    100% {transform: translateX(0);opacity: 1;}
}
@keyframes out {
    100% {transform: translateX(4vw); opacity: 0;}
}
